/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 Jul 2025, 5:08:18 pm
    Author     : shaipali maurya
*/
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}
.login-box{
    height: 400px;
    width: 600px;
}


.accounts-top{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.account-main{
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px gray;

}
.accounts-hero{
    padding: 15px;
}
.accounts-bottom{
    padding: 15px;
    display: flex;
    justify-content: center;
}
.accounts-top, .accounts-bottom{
    background-color: whitesmoke;
}

